html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.glow {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.6), 0 0 30px rgba(0, 255, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.btn-success {
    /* Your existing btn-success styles */
}

.btn-danger {
    /* Your existing btn-danger styles */
}


.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px; /* Adjust as needed */
}

.marquee {
    width: 100%; /* Adjust as needed */
    animation: marquee 15s linear infinite;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
}

    .marquee span {
        display: inline-block;
        padding-right: 100%;
    }

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


