@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('https://t4.ftcdn.net/jpg/03/28/80/61/360_F_328806173_PKFlxiE8HHry2hmuN8YuGB2B4krZ00vG.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="text-center">
    <h1 class="display-4 text-white">WELCOME TO REAL TIME CHAT APPLICATION </h1>
</div>
<div class="marquee-container">
    <div class="marquee">
        <span>WELCOME TO REAL TIME CHAT APPLICATION</span>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />

<div class="text-center">
    <a href="/Customer/Message/Index" class="btn btn-info">Go to Chat App</a>
</div>
       