@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO REAL TIME CHAT APPLICATION </h1>
</div>
<div class="marquee-container">
    <div class="marquee">
        <span>WELCOME TO REAL TIME CHAT APPLICATION</span>
    </div>
</div>
<br/>
<br/>
<br/>

<div class="text-center">
    <a href="/Customer/Message/Index" class="btn btn-primary">Go to Chat App</a>
</div>
       